#container {
  margin: 0 auto;
  width: 500px;
  height: 500px ;
  background: rgba(81, 226, 189, 0.93);
}

.tab{

    
    text-decoration: none;
    background: #e0e09c;
    display: inline-block;
    padding: 12px;
    padding-left: 40px;
    padding-right: 40px;
}

#dangnhap{
    background: #e2d6d6;
}

a.tab:hover {
    background: green !important;
}

#divDangNhap{
    width: auto;
    height: 400px;
    display: none;
    margin-left: 30px;
}

#divDangKi{
    width: auto;
    height: 400px;
    margin-left: 30px;
}

h2{
    text-align: center ;
}

.khungNhap{
    padding: 10px;
    margin: 5px;
    
}

#typeDangKi{
    padding: 10px;
    background: yellow;
    border: none;
    padding-right: 30px ;
    padding-left: 30px;
}

#typeDangKi:hover{
    background: darkcyan !important;
}

#pThongBao{
    color: red;
    padding: 15px;
    background: yellow;
    display: none;
    margin-right: 30px;
}